$colors:(
    primary: #45a29e,
    primary-light: #66fcf1,
);

@function color($color-name){
@return map-get($colors, $color-name);
}

//no px, rem or relative units, 1rem = 10px, vw = viewport width and VH = viewport height
html, 
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;

}

.header{
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(color(primary), 0.5),
        rgba(color(primary-light), 0.5)
    ), 
    url(img/headphones-bg.jpg);

}

.header-primary{
    text-align: center;
    font-weight: 700;
    columns: #333333;
}

.header-primary-main{
    font-size: 10rem; //100 px   1rem = 10px
    text-transform: uppercase;
    letter-spacing: 1rem;
    display: block;
}

.header-primary-sub{
    font-size: 4rem;
}







